mixin input-text({label, placeholder, mask = false, type = 'text'})
  .input-text
    if label
      .input-text__title
        span.input-text__label= label
    if mask
      input(class="input-text__input js-input-text__input" type="text" placeholder=placeholder autofocus=attributes.autofocus)
    else
      input(class="input-text__input" type=type placeholder=placeholder autofocus=attributes.autofocus)