mixin dropdown(obj)
  - const { label, items, placeholder, withButtons = false, isExpand = false, type, name = null } = obj;
  .dropdown.js-dropdown(data-type=type)
    p.dropdown__label= label
    .dropdown__header.js-dropdown__header(class= isExpand && 'dropdown__header_active')
      input.dropdown__input.js-dropdown__input(
        readonly,
        placeholder=placeholder,
        type="text",
        name=name
      )
      button.dropdown__button-expand(type="button") expand_more
    .dropdown__inner.js-dropdown__inner(class= isExpand && 'dropdown__inner_active')
      ul.dropdown__list
        each el in items
          li.dropdown__item.js-dropdown__item(data-type=el)
            span.dropdown__item-text= el
            .dropdown__item-inner
              button.dropdown__item-button.js-dropdown__item-button.js-dropdown__item-button_icon_minus(
                type="button",
                data-button="minus"
              ) -
              span.dropdown__item-amount.js-dropdown__item-amount 0
              button.dropdown__item-button.js-dropdown__item-button(
                type="button",
                data-button="plus"
              ) +
      if withButtons
        .dropdown__buttons
          button.dropdown__button-clear.js-dropdown__button-clear(type="button") очистить
          button.dropdown__button-apply.js-dropdown__button-apply(type="button") применить
