mixin button(options)
  -
    const { color = null, tag, text, href, size, submit = false } = options
    const themes = {
      'white': 'button_theme_white',
      'blue': 'button_theme_blue',
      'arrow': 'button_theme_arrow',
      'transparent': ''
    }

    const sizes = {
      'm': 'button_size_m',
      's': 'button_size_s',
      'xs': 'button_size_xs'
    }

    const isSubmit = submit ? 'submit' : 'button'
    const buttonType = tag === 'button' ? isSubmit : false
    const classes = `button ${themes[color]} ${sizes[size]}`

  #{tag}(class=classes, type=buttonType, href=href)= text
