include /components/rate-button/rate-button
mixin room-card(obj)
  -var {luxury, price, number, star, reviews, images} = obj
  .room-card.js-room-card
    .room-card__slider
      .room-card__slider-slides
        each img in images
          img(class="room-card__slider-slide js-room-card__slider-slide" src=require(`/src/assets/img/rooms-photo/${img}`), alt="room picture")
      .room-card__slider-dots.js-room-card__slider-dots
        .room-card__slider-dot.js-room-card__slider-dot
        .room-card__slider-dot.js-room-card__slider-dot
        .room-card__slider-dot.js-room-card__slider-dot
        .room-card__slider-dot.js-room-card__slider-dot
      .room-card__slider-buttons
        button.room-card__slider-button.room-card__slider-button_left.js-room-card__slider-button_left
          img(src=require("/src/assets/img/icons/next-slide.svg"), alt="button-left")
        button.room-card__slider-button.room-card__slider-button_right.js-room-card__slider-button_right
          img(src=require("/src/assets/img/icons/next-slide.svg"), alt="button-right")
    .room-card__inner
      .room-card__info
        a(class="room-card__room-number" href="/room-details.html")
          span.room-card__room-number-sign №&nbsp;
          span= number
          if luxury
            span.room-card__luxury-text &nbsp;люкс
        .room-card__price-per-day
          span=  price
          span.room-card__price-per-day-text &nbsp;в сутки
      .room-card__rating
        +rate-button(star)
        a(class="room-card__reviews" href="/room-details.html")
          span= reviews
          span.room-card__reviews-text &nbsp;Отзывов